.size__s {
  font-size: var(--font-size-m);
  font-weight: 500;
}

.size__m {
  font-size: inherit;
  font-weight: 600;
}

.active {
  color: var(--accent-main-color);
}

.active.size__s {
  font-weight: 700;
}
